<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>UNIDAD 5 EQUIPO SSL - ADMINISTRADOR</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet"  href="../static/css/bootstrap.css"/> 
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script> 
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script> 
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <span class="navbar-brand">LOS SSL</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="#" th:href="@{/logout}">Salir</a>
       <a class="nav-item nav-link" href="#" th:href="@{/logs}" >Logs</a>
     
    </div>
  </div>
</nav>
<hr size="1" noshade>
Log session start time Fri Jul 24 11:01:06 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>10653</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 11:05:27 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>53444</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>60507</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>63918</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>99964</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>103219</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>133685</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:25:43 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:27:48 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>1</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:29:17 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:37:03 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:41:37 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 12:49:18 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 13:11:57 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-5 thread">http-nio-9081-exec-5</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>77107</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 13:46:02 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>2310</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>28102</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 13:50:37 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>50721</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>69288</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:00:15 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:04:49 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>7888</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>12544</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>64958</td>
<td title="http-nio-9081-exec-8 thread">http-nio-9081-exec-8</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:18:34 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>2714</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>81608</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:113</td>
<td title="Message"> se actualizo un accidente</td>
</tr>

<tr>
<td>83341</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:125</td>
<td title="Message"> se elimino un registro de accidente</td>
</tr>

<tr>
<td>87148</td>
<td title="http-nio-9081-exec-3 thread">http-nio-9081-exec-3</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:23:21 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>1596</td>
<td title="http-nio-9081-exec-6 thread">http-nio-9081-exec-6</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:40:09 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>1836</td>
<td title="http-nio-9081-exec-4 thread">http-nio-9081-exec-4</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>73543</td>
<td title="http-nio-9081-exec-9 thread">http-nio-9081-exec-9</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:51</td>
<td title="Message"> se logeo el usuario</td>
</tr>

<tr>
<td>75951</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>110726</td>
<td title="http-nio-9081-exec-2 thread">http-nio-9081-exec-2</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:113</td>
<td title="Message"> se actualizo un accidente</td>
</tr>

<tr>
<td>113335</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:65</td>
<td title="Message"> se agrego un registro de accidente</td>
</tr>

<tr>
<td>165486</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:45:19 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>1</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Fri Jul 24 14:48:39 CLT 2020<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-9081-exec-7 thread">http-nio-9081-exec-7</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>63531</td>
<td title="http-nio-9081-exec-1 thread">http-nio-9081-exec-1</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>

<tr>
<td>88475</td>
<td title="http-nio-9081-exec-10 thread">http-nio-9081-exec-10</td>
<td title="Level">INFO</td>
<td title="com.vunidad.VunidadApplication category">com.vunidad.VunidadApplication</td>
<td>BasicController.java:57</td>
<td title="Message"> se logeo el administrador</td>
</tr>
